<div class="container">
	<p><%= @question %></p>
	<p><i> -You</i></p>
</div>
<div class="container coach">
	<p><%= @answer %></p>
	<p><i> -Your coach</i></p>
</div>
<p class="button"><%= link_to "Ask a new question", ask_path %></p>