<p>What do you want?</p>
<div class="box">
  <form action="/answer" method="get">
    <div class="input-container">
      <input type="text" name="question">
    </div>
    <input class="btn" type="submit" value="Ask!">
  </form>
</div>

